body{
    font-family: 'Spectral SC', serif;
    width: 98%;
    background-color: lightgrey;
    color:darkgrey;
    
    
}

.bio{
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;µ
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 1px 1px 1px #888888;
    
}

.bio h1{
    text-align: center;
    color: #dd5555;
    font-weight: bold;
}

.bio h2{
    text-align: center;
    color: darkgrey;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3%
    
}

.bio img{
    border-radius: 100%;
    border: 5px solid darkgrey;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 1%;
    color:red;
}



.bio p{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.bio button{
    background-color: #dd5555;
    border-radius: 5px;
    border: none;
    color: white;
    height:40px;
    width: 15%;
    display: inline-block;
    text-align: center;
    margin-left: 44%;
    margin-right: 44%;
    
    
    
    
}



.icone{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 1px 1px 1px #888888;
    
    
}

.icone img{
    width: 35px;
    
}

.films{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    margin-top: 1%;
    text-align: center;
    box-shadow: 1px 1px 1px #888888;
    
    
}

.films h3{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
}

.films img{
    width: 15%;
    display: inline-block;
    float: left;
    margin: 3%;
    
    
    
    
}

.para{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 15px;
    margin: 5px;
    text-align: justify;
    display: inline-block;
         
}



    



